<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justin.translatecard" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".characterCards"
            android:label="@string/title_activity_character_cards" >
        </activity>
        <activity
            android:name=".OtherCards"
            android:label="@string/title_activity_other_cards" >
        </activity>
        <activity
            android:name=".CardListActivity"
            android:label="@string/title_card_list" >
        </activity>
        <activity
            android:name=".CardDetailActivity"
            android:label="@string/title_card_detail"
            android:parentActivityName=".CardListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.translatecard.CardListActivity" />
        </activity>
        <activity
            android:name=".CharacterCardListActivity"
            android:label="@string/title_charactercard_list"
            android:parentActivityName=".characterCards" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.translatecard.characterCards" />
        </activity>
        <activity
            android:name=".CharacterCardDetailActivity"
            android:label="@string/title_charactercard_detail"
            android:parentActivityName=".CharacterCardListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.translatecard.CharacterCardListActivity" />
        </activity>
    </application>

</manifest>
